.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0c0a3e;

    z-index: -10;
}

#title {
    display: flex;
    color: #f9564f;
    text-align: center;
    user-select: none;

    z-index: 3;
    height: 90px;
    margin-bottom: 20px;
    overflow: hidden;
}

#title h1 {
    line-height: 1px;
    font-weight: 400;
    font-size: 80px;
    /* clip-path: inset(40px 0); */
}

#title span {
    font-size: 80px;
}

#inputBar::placeholder {
    color: #de9cb1;
    opacity: 0.9;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50%;
    border: var(--borderWidth) #b33f62 solid;
    transform: skew(-20deg);

    --borderWidth: 2px;
    background: transparent;
    z-index: 1;
    position: relative;

    --bgOpacity: 0;
}

.inputContainer::after {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    background: #06043f;
    opacity: var(--bgOpacity);

    z-index: -1;
}

/* .inputContainer::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -5;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
} */


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#inputBar {
    position: absolute;
    all: unset;
    width: 100%;
    color: white;
    padding-left: 25px;
}

#searchBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b33f62;
    cursor: pointer;
    transition: all 300ms ease;
    width: 80px;
}

#searchBtn:hover {
    filter: brightness(60%);
}

#searchBtn > svg {
    transform: skew(20deg);
}

.bgBlob {
    position: fixed;
    width: 60vw;
    height: 50vh;

    bottom: -35vh;

    background: #5d6add;
    box-shadow: 290px 290px 290px;
    border-radius: 50%;
    filter: blur(190px);

    z-index: 0;
}

@-moz-document url-prefix() {
    .bgBlob {
        width: 80%;
        height: 70vh;
        bottom: -35vh;

        opacity: 0.4;
        background: #3641a6;
    }
}

.footer {
    display: flex;
    position: fixed;

    width: 100%;
    height: 100px;

    align-items: center;
    justify-content: center;

    bottom: 0;
}

.footerCenter {
    display: flex;

    justify-content: center;
    flex-grow: 1;
    color: #f3c677;
}

#settingsBtn {
    display: flex;
    position: relative;

    color: #f3c677;
    width: 24px;
    height: 24px;

    right: 30px;
    cursor: pointer;

    transition: 300ms all ease;
}

#settingsBtn:hover {
    filter: brightness(50%);
    transform: rotate(90deg);
}
